venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3
.env
*.egg-info/
.DS_Store
Thumbs.db
advanced_python_data_science.json
artificial_intelligence.json
compiler_design.json
computer_networks.json
computer_organization_architecture.json
database_management_system.json
probability_statistics.json
web_application_programming.json
